<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="inicio-background">
    <div class="inicio-container">
      <ion-card class="inicio-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-text class="ion-text-center">
            <h2>¡Hola {{ nombreCompleto }}!</h2>  <!-- Mostrar nombre completo -->
            <p>Bienvenido a tu panel.</p>
          </ion-text>

          <ion-button color="tertiary" expand="block" shape="round" class="boton-qr" (click)="asignaturas()">
            <ion-icon slot="start" name="library-outline"></ion-icon>
            Asignaturas
          </ion-button>

          <ion-button color="tertiary" expand="block" shape="round" class="boton-qr" (click)="asistencia()">
            <ion-icon slot="start" name="library-outline"></ion-icon>
            Asistencia
          </ion-button>

          <ion-button color="tertiary" expand="block" shape="round" class="boton-qr" (click)="perfil()">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            Perfil
          </ion-button>

          <ion-button color="tertiary" expand="block" shape="round" class="boton-qr" (click)="calendario()">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            Feriados
          </ion-button>

          <ion-button color="tertiary" expand="block" shape="round" (click)="soporte()">
            <ion-icon slot="start" name="briefcase-outline"></ion-icon>
              Soporte
          </ion-button>

          <ion-button color="tertiary" expand="block" shape="round" (click)="logout()">
            Cerrar Sesión
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center" size="small">© 2024 RegistrApp</ion-title>
  </ion-toolbar>
</ion-footer>
