.inicio-background {
    background: linear-gradient(135deg, #4e54c8, #8f94fb);  /* Degradado bonito de fondo */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inicio-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .inicio-card {
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 20px;                  
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);  
  }
  
  ion-card-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  ion-text {
    display: block;
    margin-top: 10px;
  }


  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: #4e54c8;
    --color: white;
  }

  .no-scroll {
    overflow: hidden; 
  }
  
  .modal-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 56px); 
  }
  
  .qr-image {
    width: 60%; 
    max-width: 400px;
    height: auto;
    object-fit: contain;
  }
  
  
  