<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Página del Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="inicio-background">
    <div class="inicio-container">
      <ion-card class="inicio-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Bienvenido {{ username }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <!-- Botón para generar QR -->
          <ion-button color="tertiary" expand="block" shape="round" (click)="generateQRCode()">
            Generar QR
            <ion-icon slot="start" name="qr-code"></ion-icon>
          </ion-button>

          <!-- Botón para cerrar sesión -->
          <ion-button color="tertiary" expand="block" shape="round" (click)="logout()">
            Cerrar Sesión
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
