<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button class="back-button" (click)="goToPage('inicio')">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Feriados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Calendario-background">
    <div class="Calendario-container">
      <ion-list class="Calendario-lista">
        <ion-card class="Calendario-card" *ngFor="let holiday of holidays">
          <ion-card-header>
            <ion-card-title class="ion-text-center calendario-title">
              {{ holiday.title }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="dark">
              <strong>Fecha:</strong> {{ holiday.date }}
            </ion-text>
            <ion-text color="medium">
              <strong>Tipo:</strong> {{ holiday.type }}
            </ion-text>
            <ion-text color="medium"*ngIf="holiday.inalienable">
              <strong>Info Extra:</strong> {{ holiday.extra }}
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center" size="small">© 2024 RegistrApp</ion-title>
  </ion-toolbar>
</ion-footer>