<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- Usar slot para posicionar correctamente -->
      <ion-button class="back-button" (click)="goToPage('inicio')">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Calendario-background">
    <div class="Calendario-container">
      <ion-card class="Calendario-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center">(titulo)</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center" size="small">© 2024 RegistrApp</ion-title>
  </ion-toolbar>
</ion-footer>