<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button class="back-button" routerLink="/asignaturas">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="Asistencia-background">
  <div class="Asistencia-container">
    <ion-card class="Asistencia-card">
      <ion-card-content>

        <ion-grid class="Asistencia-table">
          
          <!-- Cabecera de la tabla -->
          <ion-row class="table-header">
            <ion-col size="4">Alumno</ion-col>
            <ion-col size="4">Asignatura</ion-col>
            <ion-col size="4">Fecha y Hora</ion-col>
          </ion-row>

          <!-- Datos dinámicos -->
          <ion-row class="table-row" *ngFor="let asistencia of asistencias">
            <ion-col size="4">{{ asistencia.alumno || 'N/A' }}</ion-col>
            <ion-col size="4">{{ asistencia.asignatura }}</ion-col>
            <ion-col size="4">{{ asistencia.fechaHora }}</ion-col>
          </ion-row>
          
        </ion-grid>

        <br>
        <h2 class="ion-text-center">Recordatorio</h2>
        <br>
        <p class="ion-text-center">"Recuerda que necesitas al menos un 70% de asistencia en clases para aprobar tus materias."</p>
        <br>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center" size="small">&copy; 2024 RegistrApp</ion-title>
  </ion-toolbar>
</ion-footer>
