ion-toolbar {
  position: relative; /* Permite posicionamiento preciso de elementos */
}

ion-title {
  position: absolute; /* Posiciona el título independientemente */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta el punto de referencia */
  text-align: center; /* Asegura que el texto esté centrado */
}

.back-button {
  position: relative; /* Permite que la flecha se quede en su lugar */
  z-index: 1; /* Asegura que esté encima del título */
}
.back-button {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; /* Ajusta para mejor espaciado */
  --padding: 0;
}

.back-button ion-icon {
  color: #6a5acd;
  font-size: 20px;
}
$primary-color: #4e54c8;
$secondary-color: #8f94fb;
$text-color: #6c757d;

.Asistencia-card {
  color: white;
  background: linear-gradient(135deg, $primary-color, $secondary-color);
}

ion-card-title {
  color: $primary-color;
}

ion-footer .ion-title {
  color: $text-color;
}
.Asistencia-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
ion-card-title img {
  max-width: 100px;
  margin: 0 auto;
  display: block;
  border-radius: 8px; /* Opcional, si deseas bordes redondeados */
}
ion-footer {
  border-top: 1px solid #ddd;
  background-color: $primary-color;
  color: white;
  text-align: center;

  .ion-title {
    font-size: 0.8em;
  }
}
ion-item {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.Asistencia-table {
  width: 100%;
  text-align: left;

  .table-header {
    background-color: #4e54c8; // Color principal
    color: white;
    font-weight: bold;
    padding: 10px 0;

    ion-col {
      text-align: center;
      padding: 10px 0;
    }
  }

  .table-row {
    background-color: rgba(255, 255, 255, 0.9); // Fondo claro
    border-bottom: 1px solid #ddd;

    ion-col {
      text-align: center;
      padding: 10px 0;
      color: #333; // Color del texto
    }

    &:nth-child(even) {
      background-color: #f4f5f8; // Fondo alternativo para filas pares
    }
  }
}
