<ion-header [translucent]="true">
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <ion-button class="back-button" routerLink="/asignaturas">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="Asistencia-background">
  <div class="Asistencia-container">
    <ion-card class="Asistencia-card">
      <ion-card-content>
        <ion-grid class="Asistencia-table">
          
          <!-- Cabecera de la tabla -->
          <ion-row class="table-header">
            <ion-col size="3">Curso</ion-col>
            <ion-col size="3">Nº de Clases Registradas</ion-col>
            <ion-col size="3">Asistencia</ion-col>
            <ion-col size="3">Porcentaje</ion-col>
          </ion-row>

          <!-- Datos dinámicos -->
          <ion-row class="table-row" *ngFor="let item of cursosAsistencias">
            <ion-col size="3">{{ item.curso }}</ion-col>
            <ion-col size="3">{{ item.clasesRegistradas }}</ion-col>
            <ion-col size="3">{{ item.asistencia }}</ion-col>
            <ion-col size="3">{{ item.porcentaje | percent:'1.1-2' }}</ion-col>
          </ion-row>
          
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center" size="small">© 2024 RegistrApp</ion-title>
  </ion-toolbar>
</ion-footer>
