<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-background">
    <div class="login-container">
      <ion-card class="login-card">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Inicio de Sesión</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item lines="none">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" [(ngModel)]="username" required></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" required></ion-input>
          </ion-item>

          <ion-button color="tertiary" expand="block" shape="round" (click)="login()">
            Iniciar Sesión
          </ion-button>

          <ion-text color="danger" *ngIf="loginError" class="ion-text-center">
            {{ loginError }}
          </ion-text>
          <ion-text color="success" *ngIf="loginCorrecto" class="ion-text-center">
            {{ loginCorrecto }}
          </ion-text>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center" size="small">© 2024 RegistrApp</ion-title>
  </ion-toolbar>
</ion-footer>